<section class='imgcontainer'>
	<%= image_tag '04182015.JPG' %>
	<h3> APRIL 18, 2015 </h3>
</section>
<section class='imgcontainer'>
	<%= image_tag '04182015.JPG' %>
	<h3> APRIL 18, 2015 </h3>
</section>