<div class='left'>
</div>
<div class='middleleft'>
	<div class='miniicon'>
		<span>UNDISPUTED<br>CHAMPION</span>
	</div>
</div>
<div class='middleright'>
	<div class='miniicon'>
		<span>UNDISPUTED<br>CHAMPION</span>
	</div>
</div>
<div class='right'>
</div>
<div class='icon'>
	<span> <%= image_tag 'undisputed.svg' %> <br> UNDISPUTED<br>CHAMPION </span>
</div> 
