<div class='left'>
</div>
<div class='middleleft'>
	<div class='miniiconleft'>
		<span> ABOUT </span>
	</div>
</div>
<div class='middleright'>
	<div class='miniiconright'>
		<span> SHOP </span>
	</div>
</div>
<div class='right'>
</div>
<div class='icon'>
	<span> <%= image_tag 'undisputed.svg' %> <br> UNDISPUTED<br>CHAMPION </span>
</div> 
